
/*..........................CUERPO.....................................*/
body{ 
	background-color: #EDBDB0;
	/*ojo el fondo de los row containers pertenece al body*/

 /*font-family: 'Neucha', cursive; NO ES FEA PERO SIN MÁS.
font-family: 'Dosis', sans-serif; TÍTULOS NO.
font-family: 'Josefin Sans', sans-serif; MOLA!
font-family: 'Amatic SC', cursive; NO ESTÁ MAL PARA TÍTULOS
font-family: 'Cabin Sketch', cursive; NO ESTÁ MAL PARA TÍTULOS
*/
}

/*.........................NAVBAR SUPERIOR.............................*/
/*
nav{ 
    width:100%;
    background: #FC7854;
    font-family: 'Cabin Sketch', cursive;

}

nav .brand-logo {
	margin-left: 20px;
}

nav ul li {
	color: #6150CE;
}
*/
/*.........................BARRAS PARALLAX.............................*/
.row.container{
	font-family: 'Josefin Sans', sans-serif;
}

.row.container h2 {
	font-family: 'Cabin Sketch', cursive; 
}

.parallax-container {
      height: 400px;
    }

.second-row-container{
	text-align: right;
}
.row.container .prueba-izq {
	display: inline-block;
	vertical-align: middle;
	/*width: 25%;*/
	margin-right:80px;
	text-align: center;
} 	
	.row.container .prueba-izq .material-icons{
		color: white ;
		background-color: #FC7854;
		font-size: 90px;
		position: relative;
		top:3px;
		text-align: center;
		border-radius: 100%;
		width: 1.15em;
		height: 1.15em;
		line-height: 1.15em;
		display: inline-block;
		box-shadow: 0 0 0 7px white, 
					0 0 0 8px #e0e0e0;
	}

	.row.container .prueba-izq p{
		position: relative;
		text-align: justify;

	}


.row.container .prueba-centro {
	display: inline-block;
	vertical-align: top;
	/*width: 25%;*/
	margin-right:80px;
	text-align: center;
} 	
	.row.container .prueba-centro .material-icons{
		color: black;
		background-color: #FC7854;
		font-size: 90px;
		position: relative;
		top:3px;
		text-align: center;
		border-radius: 100%;
		width: 1.15em;
		height: 1.15em;
		line-height: 1.15em;
		display: inline-block;
		box-shadow: 0 0 0 7px black, 
					0 0 0 8px #e0e0e0;
	

	}

	.row.container .prueba-centro p{
		position: relative;
		text-align: justify;
	}

.row.container .prueba-dch {
	display: inline-block;
	vertical-align: top;
	/*width: 25%;*/
	margin-right:80px;
	text-align: center;
} 	
	.row.container .prueba-dch .material-icons{
		color: white;
		background-color: #FC7854;
		font-size: 90px;
		position: relative;
		top:3px;
		text-align: center;
		/*border-radius: 100%;*/
		width: 1.15em;
		height: 1.15em;
		line-height: 1.15em;
		display: inline-block;
		box-shadow: 0 0 0 7px white, 
					0 0 0 8px #e0e0e0;


	}

	.row.container .prueba-dch p{
		position: relative;
		text-align: justify;
	}

	.second-row-container .row.container .cajapremio {
		position: relative;
		text-align: left;

	}

	.second-row-container .row.container .cajapremio img{
		position: relative;
		float: left;
		vertical-align: middle;
		margin: 0px 15px 15px 0px;
	}
/*..........................FOOTER.....................................*/

/*
.page-footer {
	@extend .deep-orange, .lighten-1;
	background-color: lightgreen !important;
}

.page-footer .container .row .material-icons{
		color: white;
		background-color: #FC7854;
		font-size: 25px;
		position: relative;
	
		border-radius: 100%;
		width: 1.2em;
		height: 1.2em;
		line-height: 1.15em;
		display: inline-block;
		text-align: center;
		box-shadow: 0 0 0 1px white, 
					0 0 0 1px #e0e0e0;

		vertical-align: middle;
		margin: 0px 10px 10px 0px;
}

.page-footer .container .row li{
	color: white;
	position: relative;
	text-align: left;
}
.page-footer .container .row li a{
	color: white;
	position: relative;
	text-align: left;
}
.footer-copyright .container{
	margin-left: 10px;
}
*/